
$colorLetra : whitesmoke;
$colorSubTitulo : red;
$colorBordeHr :  rgba(255, 0, 0, 0.5);

$fondoNav1 : rgba(247, 180, 180, 0.801);
$fondoNav2 : rgba(211, 211, 211, 0.801);

$sombra: 3px 3px 5px 2px rgba(0, 0, 0, 0.2),-3px -3px 5px 2px rgba(0, 0, 0, 0.2);

$textShadowBlue: 0.5px 0.5px rgba(4, 0, 255, 0.541);
$textShadowNav: 1px 1px rgb(253, 0, 0);
$textShadowNavMobile : 0.5px 0.5px rgb(253, 0, 0);

$fuenteSamurai : 'CF Samurai Bob', sans-serif;